# virtualenv & testing grounds
.venv
testing_grounds

# cache & pycache
cache 
__pycache__
*.pyc

# l'ensemble des données du pipeline
data

# setup
travel_route_optimization.egg-info
package.pth

# trop volumineux pour github
mlflow.db

# MLflow tracking
mlruns

# Model artifacts
models
*.pt

# Evaluation outputs
route.json