.venv

travel_route_optimization/cache
testing_grounds

travel_route_optimization/data/bronze/datatourisme/*
travel_route_optimization/data/bronze/osm/*
travel_route_optimization/data/silver/*
travel_route_optimization/data/silver/osm/*
travel_route_optimization/data/gold/*
