# virtualenv & testing grounds
.venv
testing_grounds

# cache & pycache
cache 
__pycache__

# all the data ingested, transformed and loaded
travel_route_optimization/data/*

# setup
travel_route_optimization.egg-info
package.pth